<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'navbar.html' %}
{% block content %}

<div style="white-space: pre;text-align:center;color:white;background-color:black;width:98%;margin-left:14px">
    <font size="6" > A1 - ANDMAN</font>
    <font size="4"> 6 Days 5 Hotel Nights</font>
    </div>

<div class="container-fluid">
    <div class="row" >






    </div>

    <img src="static/image/Andaman1.jpg" class="img-fluid" style="height:400px; width:1400px">

    <!-- first row -->
<h3 align="center" style="background-color:#EBECFO;" >Visits :</h3>

<div class = "row">

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 1 - Port Blair</h5>
         Arrive at the designated reporting place. Report to the coach and proceed to hotel.

         <br><br><br><br><br><br><br>
        <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">

            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">
            dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 2 - Port Blair – Netaji Subhas Chandra Dweep (Ross Island) – Port Blair</h5>

        Visit Chatham Saw Mill - one of the largest mills in Asia, Cottage Industries Emporium and Forest Museum that offers an insight into forest activities through scale
        models and displays decorative pieces made of famous woods like Padauk, Marble, Peauma, Gurjan, Satin Wood, etc. Later visit Netaji Subhas Chandra Bose Dweep (Ross Island) - the island presently houses ruins of old buildings like Ballroom,

           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 3 - Port Blair – Swaraj Dweep (Havelock)</h5>
        Proceed to Swaraj Dweep (Havelock island) ferry. Visit Radhanagar Beach - rated as Asia's best beach in 2004 by the Times magazine.
    The island is known as one of the jewels of the Andaman archipelago.
          <br><br>
             <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
      <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            breakfast lunch dinner
        </div>
    </div>

</div>

</div>

<!-- secound row -->
<br>
<div class="row">
<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 4 - Munnar – Periyar (Thekkady)</h5>
         Proceed to Periyar. On arrival free time for shopping at Kumily Spice Village.
         <br>Extra Topping : Tea / Coffee / Soft Drink enroute to Periyar.
    <br><br><br>
         <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 5 - Port Blair – Jolly Buoy Island / Red Skin Island – Port Blair</h5>
        Visit Jolly Buoy Island OR Red Skin Island. Explore the Coral formations by the glass bottom boat ride. You can enjoy various water
        sports activities on your own and swimming in the crystal clear blue water. Later visit Fisheries Museum. In the evening visit Cellular Museum and Cellular Jail, which stood mute witness to the torture meted out to the freedom fighters,
        who were incarcerated in this Jail. History awakens as we visit 'Veer Sawarkar' Smarak and see the light and sound show.

           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
    <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 6 - Departure from Port Blair</h5>
        Board the flight for your Hometown. Tour Concludes.


    <br><br><br><br>
            <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">

        </div>
    </div>
    <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">

            breakfast
        </div>
    </div></div>
</div>
<hr>

<div class="container">
    Notes:<br>
    <ol type="1">
        <li>Children / Students are requested to carry 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.
            For Infants carry 2 passport size photographs.</li>
        <li>NRI guests are requested to carry their Passport & VISA copy.</li>
        <li>Kesari Meals service will start on Day 1 at Final arrival destination till the departure from the last destination as per the itinerary.</li>
        <li>In flight meals – Kesari do not provide meal service during Air travel or during transit halt.</li>
        <li>Non A/C Harbour Cruise at Cochin.</li>
        <li>Please carry a photo-id proof for Periyar boat-ride.</li>
        <li>The Tour Manager service will start from the First destination of the tour as mentioned in the itinerary.</li>

    </ol>
    <div class="row">
    <div class="col-sm-6" style="border:1px solid grey;background-color:#8E1F20;color:white;">
       Our Speciality: <br>
        <ul type="circul">
            <li>Caring tour manager through out the tour.</li>
            <li>Insurance Cost is included in the Tour Price.</li>
        </ul>
    </div>


    <div class="col-sm-6" style="border:1px solid grey;background-color:#004753;color:white;">
        Road Transport:
        <ul type="circul">
           <li>All transfers and sightseeing by A/C Coach.</li>
           <li>Non A/C small vehicle transfers at Eravikulam National Park.</li>
        </ul>
    </div>
    </div>


</div>


</div>



{% include 'footer.html' %}
{% endblock %}


</body>
</html>