<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'navbar.html' %}
{% block content %}

<div style="white-space: pre;text-align:center;color:white;background-color:black;width:98%;margin-left:14px">
    <font size="6" > g2 - GOA WITH LAKSHADWEEP CRUISE</font>
    <font size="4"> 6 Days 5 Hotel Nights</font>
    </div>

<div class="container-fluid">


    <img src="static/image/goa2.jpg" class="img-fluid" style="height:400px; width:1320px;">
</div>

<h3 align="center" style="background-color:#EBECFO;" >Visits :</h3>
<!--container start -->
<div class="container-fluid">
   <!-- first row -->
<div class="row">
    <!-- first column -->
    <div class ="col-sm-4" >

         <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 1 - Goa</h5>
         Arrive at Goa – A perfect holiday destination. On arrival free time to relax and enjoy resort or the beach. dinner
         <br><br><br><br>
          <!-- dinner lunch breakfast -->
           <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
           <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">

            breakfast
        </div>
    </div>
          <!-- dinner lunch breakfast end -->
    </div>


    <!-- secound column -->
    <div class ="col-sm-4">
        <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 2 - Goa</h5>
        Today proceed to visit Shri Shanta Durga Temple dedicated to Goddess of peace, Mangeshi Temple. Later explore
        Tropical Spice Plantation which is untouched by polution and makes you feel a part of nature. Later visit Old Goa Church.
        <!-- dinner lunch breakfast -->
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
          <!-- dinner lunch breakfast end -->
    </div>


    <!-- third column -->
    <div class ="col-sm-4">
        <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 3 - Goa - Board the cruise</h5>
         Today board the Cordelia cruise to Explore India's best kept secret – Lakshadweep.
        <br><br><br><br>
        <!-- dinner lunch breakfast -->
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
          <!-- dinner lunch breakfast end -->

    </div>

</div>
</div>
<!-- first container close -->
<br>
<!-- secound container start -->
<div class="container-fluid">
   <!-- secound row -->
<div class="row">
    <!-- first column -->
    <div class ="col-sm-4" >

         <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 4 - Cruise – Lakshadweep – On bard</h5>

         Today visit India’s best kept secret, Lakshadweep - a paradise of sun-kissed beaches, translucent blue waters and luscious landscape. Visit Kadmat Island also known as Cardamom Island,
         famous for marine turtles and coral reefs. You can also check out thrilling water sports like kayaking, snorkeling or scuba diving at an additional cost.

         <!-- dinner lunch breakfast -->
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
          <!-- dinner lunch breakfast end -->
    </div>


    <!-- secound column -->
    <div class ="col-sm-4">
        <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 5 - At Sea</h5>
        Begin the day with breakfast and experience the different fun and adventure activities we have onboard for you and your family. Enjoy some fun family time at the pool. Indulge in the gourmet cuisines and enjoy a cocktail at the Pool Bar. We have several activities and events planned for the evenings. Don’t forget to try your luck at the casino.
        <!-- dinner lunch breakfast -->
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
          <!-- dinner lunch breakfast end -->
    </div>


    <!-- third column -->
    <div class ="col-sm-4">
        <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 6 - Arrive at Mumbai</h5>

        Disembark the cruise at Mumbai port. Its time to say goodbye to your travel companions.
        <!-- dinner lunch breakfast -->
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
          <!-- dinner lunch breakfast end -->
         <br><br><br><br><br><br><br>
    </div>

</div>
</div>
<!-- secound container close -->

<div class="container">
<div class="row">

    <div class="col-sm-6" style="border:1px solid grey;background-color:#8E1F20;color:white;">
       Our Speciality: <br>
        <ul type="circul">
            <li>Caring tour manager through out the tour.</li>
            <li>Insurance Cost is included in the Tour Price.</li>
        </ul>
    </div>


    <div class="col-sm-6" style="border:1px solid grey;background-color:#004753;color:white;">
        Road Transport:
        <ul type="circul">
           <li>All transfers and sightseeing by A/C Coach.</li>
           <li>Non A/C small vehicle transfers at Eravikulam National Park.</li>
        </ul>
    </div>

</div>
</div>
<br>
{% include 'footer.html' %}
{% endblock %}
</body>
</html>