<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'navbar.html' %}
{% block content %}
<h3 align="center">corporate trip </h3>
<div class ="container-fluid">
    <!-- 1st row start -->
    <div class="row">
        <!-- first column -->
        <div class="col-sm-4">
            <div style="white-space: pre;color:white;background-color:black;">
                <font size="6" > &nbsp;A2 - ANDAMAN</font>
                <font size="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 Days 4 Hotel Nights</font>
             </div>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Explore</b>
               Shri Shanta Durga Temple, Mangeshi Temple, Tropical Spice Plantation, Francis church, Dona Paula
               and much more with natury enviroment only in 30,990 Rs <br>

              <div class="row">
                   <div class="col-sm-5">
                       <button onclick="window.location.href='/andman2'">See details of trip</button>
                   </div>
                   <div class="col-sm-7">
                       {% if s_user %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" value="A2 - ANDAMAN" size="6px" hidden>
                            <input type="submit" value="book this trip" name="andman1">
                        </form>
                       {% else %}
                         <button onclick="window.location.href='/log'">want to book this trip</button>
                       {% endif %}

                   </div>
              </div>
        </div>
        <!-- secound column -->
        <div class="col-sm-8">
            <img src="static/image/andman2.jpg" class="img-fluid">
        </div>
    </div>
    <!-- 1st row end -->
    <br><br>
    <!-- 2nd row start -->
    <div class="row">
        <!-- first column -->
        <div class="col-sm-8">
            <img src="static/image/kerla banner.jpg" class="img-fluid" style="height:300px;">
        </div>

        <!-- secound column -->
        <div class="col-sm-4">
            <div style="white-space: pre;color:white;background-color:black;">
                <font size="5" >k1 - MUNNAR PERIYAR ALLEPPY</font>
                <font size="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6 Days 5 Hotel Nights</font>
             </div>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Explore</b>
               St. Francis Church, Jewish Synagogue (Subject to operation) and Dutch Palace. Take a Harbour Cruise Ride to see the Chinese Fishing Nets
               and explore much more only in 24,990 Rs <br><br>
               <div class="row">
                   <div class="col-sm-5">
                       <button onclick="window.location.href='/kerla1'">See details of trip</button>
                   </div>
                   <div class="col-sm-7">
                       {% if s_user %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" value="k1 - MUNNAR PERIYAR ALLEPPY" size="6px" hidden>
                            <input type="submit" onclick="window.location.href='/booking'" value="book this trip" name="kerla1">
                        </form>
                       {% else %}
                         <button onclick="window.location.href='/log'">want to book this trip</button>
                       {% endif %}

                   </div>
              </div>
        </div>

    </div>
    <!-- 2nd row end -->
    <br><br>
    <!-- 3rd row start -->
    <div class="row">
        <!-- first column -->
        <div class="col-sm-4">
            <div style="white-space: pre;color:white;background-color:black;padding-right:10px;">
                <font size="5" >g1 - GOA - MY FAIR LADY</font>
                <font size="4">4 Days 3 Hotel Nights</font>
             </div>

              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Explore</b>
               visit Shri Shanta Durga Temple dedicated to Goddess of peace, Mangeshi Temple. Later explore Tropical Spice Plantation which
               is untouched by polution and makes you feel a part of nature and much more. only in 15,990 Rs <br>
                  <div class="row">
                       <div class="col-sm-5">
                            <button onclick="window.location.href='/goa1'">See details of trip</button>
                       </div>
                       <div class="col-sm-7">
                            {% if s_user %}
                                <form method="post">
                                    {% csrf_token %}
                                   <input type="text" value="g1 - GOA - MY FAIR LADY" size="6px" hidden>
                                   <input type="submit" onclick="window.location.href='/booking'" value="book this trip" name="goa1">
                                </form>
                            {% else %}
                                   <button onclick="window.location.href='/log'">want to book this trip</button>
                            {% endif %}

                   </div>
                  </div>
        </div>
        <!-- secound column -->
        <div class="col-sm-8">
            <img src="static/image/goa1.jpg" class="img-fluid">
        </div>
    </div>
    <!-- 3rd row end -->


    <br><br>
</div>

{% include 'footer.html' %}
{% endblock %}
</body>
</html>