<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'navbar.html' %}
{% block content %}



<div style="white-space: pre;text-align:center;color:white;background-color:black;width:98%;margin-left:14px">
    <font size="6" > k3 - KERALA KANYAKUMARI MADURAI RAMESHWARAM</font>
    <font size="4"> 10 Days 9 Hotel Nights </font>
    </div>


<div class="container-fluid">


    <img src="static/image/kerla banner3.jpg" class="img-fluid" style="height:400px; width:1400px">

    <!-- first row -->
<h3 align="center" style="background-color:#EBECFO;" >Visits :</h3>

<div class = "row">

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 1 - Trivendrum</h5>
         Arrive at Trivendrum, report to coach and proceed to hotel . relax little bit read instruction of trip
         <br><br><br><br><br><br><br><br>
        <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">

            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">
            dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 2 - Trivandrum - Kanyakumari - Trivandrum</h5>
        Today early morning proceed to Kanyakumari. On arrival visit Kanyakumari Mandir, Tri-Samudra Milan and Gandhi Mandapam. Take a ferry ride to Swami Vivekanand Rock Memorial to see the meditation hall and smarak.
        <br>Extra Topping : Coconut water at Kanyakumari. Dalwada at Kovalam beach. Tea/Coffee/ Soft Drink en-route to Trivendrum
    <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 3 - Trivandrum – Padmanabh – Alleppey – Periyar (Thekkady)</h5>
        Enjoy speed boat ride at Mattupetty Dam. View Tea Garden, visit Echo Point and the Eravikulam (Rajamalai) National Park (subject to operation) OR Tata Tea Museum.
        <br>Extra Topping : Pineapple slice at Echo Point. Paan at Munnar. Ice Cream / Tea / Coffee / Soft Drink at Eravikulam National Park.
            <br><br>
             <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
      <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            breakfast lunch dinner
        </div>
    </div>

</div>

</div>

<!-- secound row -->
<br>
<div class="row">
<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 4 - Munnar – Periyar (Thekkady)</h5>
         Today morning visit beautiful Padmanabhaswamy temple – dedicated to Lord Vishnu is the richest temple in the world and renowned for its beauty and grandeur.
         Later Proceed to Periyar, en-route enjoy Backwater Ride from Alleppey to Nedumudi. Arrive at Periyar in the evening.
         <br>Extra Topping : Banana chips at Padmanabha Swami temple. Tea / Coffee / Soft Drink en-route to Alleppey. Tea / Coffee / Soft Drink en-route to Periyar.


         <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 5 - Periyar – Alleppey (Houseboat)</h5>
         Visit Periyar Wildlife Sanctuary by boat in Periyar Lake (Subject to Operation). Proceed to Alleppey. Arrive in Alleppey. On arrival houseboat check in.
         The most predominant way to experience the Kerala with Kerala houseboats. Enjoy the famous Kerala Backwaters ride.
            <br><br><br><br>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
    <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 6 Munnar - Kochi</h5>
        Arrive at Kochi. Visit St. Francis Church, Jewish Synagogue (Subject to operation) and Dutch Palace. Take a Harbour Cruise ride to see Chinese Fishing Nets.
        Free time for shopping. Enjoy get-together with your travel companions in the evening.
        <br>Extra Topping : Tea / Coffee / Soft drink en-route to Kochi.
    <br><br><br>
            <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">

        </div>
    </div>
    <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">

            breakfast
        </div>
    </div></div>
</div>

<!--- third row -->
<div class="row">
<!-- forth row -->

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 7 - Periyar (Thekkady) – Munnar</h5>
         Today morning visit beautiful Padmanabhaswamy temple – dedicated to Lord Vishnu is the richest temple in the world and renowned for its beauty and grandeur.
         Later Proceed to Periyar, en-route enjoy Backwater Ride from Alleppey to Nedumudi. Arrive at Periyar in the evening.
         <br>Extra Topping : Banana chips at Padmanabha Swami temple. Tea / Coffee / Soft Drink en-route to Alleppey. Tea / Coffee / Soft Drink en-route to Periyar.


         <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 8 - Munner</h5>
         Visit Periyar Wildlife Sanctuary by boat in Periyar Lake (Subject to Operation). Proceed to Alleppey. Arrive in Alleppey. On arrival houseboat check in.
         The most predominant way to experience the Kerala with Kerala houseboats. Enjoy the famous Kerala Backwaters ride.
            <br><br><br><br>
           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
    <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 9 Munnar - Kochi</h5>
        Arrive at Kochi. Visit St. Francis Church, Jewish Synagogue (Subject to operation) and Dutch Palace. Take a Harbour Cruise ride to see Chinese Fishing Nets.
        Free time for shopping. Enjoy get-together with your travel companions in the evening.
        <br>Extra Topping : Tea / Coffee / Soft drink en-route to Kochi.
    <br><br><br>
            <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">

        </div>
    </div>
    <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">

            breakfast
        </div>
    </div></div>
</div>
<br>

<!-- fourth row -->

<div class="row">
    <div class ="col-sm-3"></div>
   <div class ="col-sm-6">
    <h5 style="background-color:#004753;color:white" align="center">Day 10 - Departure from Kochi</h5>
        Proceed to Kochi. Board the flight /Train to your hometown. Tour Concludes.
    <br>
            <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">

        </div>
    </div>
    <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">

            breakfast
        </div>
    </div>


</div>
    <div class ="col-sm-2"></div>

<div class="container">
    <hr>
    Notes:<br>
    <ol type="1">
        <li>Children / Students are requested to carry 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.
            For Infants carry 2 passport size photographs.</li>
        <li>NRI guests are requested to carry their Passport & VISA copy.</li>
        <li>Kesari Meals service will start on Day 1 at Final arrival destination till the departure from the last destination as per the itinerary.</li>
        <li>In flight meals – Kesari do not provide meal service during Air travel or during transit halt.</li>
        <li>Non A/C Harbour Cruise at Cochin.</li>
        <li>Please carry a photo-id proof for Periyar boat-ride.</li>
        <li>The Tour Manager service will start from the First destination of the tour as mentioned in the itinerary.</li>

    </ol>

</div>

<div class="container">
<div class="row">
    <div class="col-sm-6" style="border:1px solid grey;background-color:#8E1F20;color:white;">
       Our Speciality: <br>
        <ul type="circul">
            <li>Caring tour manager through out the tour.</li>
            <li>Insurance Cost is included in the Tour Price.</li>
        </ul>
    </div>


    <div class="col-sm-6" style="border:1px solid grey;background-color:#004753;color:white;">
        Road Transport:
        <ul type="circul">
           <li>All transfers and sightseeing by A/C Coach.</li>
           <li>Non A/C small vehicle transfers at Eravikulam National Park.</li>
        </ul>
    </div>
    </div>
</div>
</div>
<!--- new item --->



<!---- close item -->



{% include 'footer.html' %}
{% endblock %}

</body>
</html>