<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% extends 'navbar.html' %}
{% block content %}

<div style="white-space: pre;text-align:center;color:white;background-color:black;width:98%;margin-left:14px">
    <font size="6" > k1 - MUNNAR PERIYAR ALLEPPY</font>
    <font size="4"> 6 Days 5 Hotel Nights</font>
    </div>

<div class="container-fluid">
    <div class="row" >






    </div>

    <img src="static/image/kerla banner.jpg" class="img-fluid" style="height:400px; width:1400px">

    <!-- first row -->
<h3 align="center" style="background-color:#EBECFO;" >Visits :</h3>

<div class = "row">

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white;width:100%;" align="center">Day 1 - Kochi</h5>
         Arrive at Kochi, report to coach and proceed to the hotel. Enjoy live Kathakali dance performance in the evening
         <br><br><br><br><br><br><br>
        <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">

            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-3">
            dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 2 - Kochi – Munnar</h5>
        Visit St. Francis Church, Jewish Synagogue (Subject to operation) and Dutch Palace. Take a Harbour Cruise Ride to see the Chinese Fishing Nets. Later Proceed to Munnar. Arrive at Munnar in the evening.
        <br>Extra Topping : Coconut Water at Dutch Palace. Tea / Coffee / Soft Drink at Hilda en-route from Kochi to Munnar.
    <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch &nbsp;dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 3 - Munnar</h5>
        Enjoy speed boat ride at Mattupetty Dam. View Tea Garden, visit Echo Point and the Eravikulam (Rajamalai) National Park (subject to operation) OR Tata Tea Museum.
        <br>Extra Topping : Pineapple slice at Echo Point. Paan at Munnar. Ice Cream / Tea / Coffee / Soft Drink at Eravikulam National Park.
            <br><br>
             <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
      <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            breakfast lunch dinner
        </div>
    </div>

</div>

</div>

<!-- secound row -->
<br>
<div class="row">
<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 4 - Munnar – Periyar (Thekkady)</h5>
         Proceed to Periyar. On arrival free time for shopping at Kumily Spice Village.
         <br>Extra Topping : Tea / Coffee / Soft Drink enroute to Periyar.
    <br><br><br>
         <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
   <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 5 - Periyar – Alleppey (Houseboat)</h5>
         Visit Periyar Wildlife Sanctuary by boat in Periyar Lake (Subject to Operation). Proceed to Alleppey. Arrive in Alleppey. On arrival houseboat check in.
         The most predominant way to experience the Kerala with Kerala houseboats. Enjoy the famous Kerala Backwaters ride.

           <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">
            <img src="static/image/lunch.png" alt="Cinque Terre" height="65px">
            <img src="static/image/dinner.jpg"  alt="Cinque Terre" height="45px">
        </div>
    </div>
    <div class="row">
        <div class ="col-sm-6">

        </div>
        <div class ="col-sm-6">

            breakfast lunch dinner
        </div>
    </div>
</div>

<div class ="col-sm-4">
    <h5 style="background-color:#004753;color:white" align="center">Day 6 - Alleppey – Departure from Kochi</h5>
        Proceed to Kochi. Board the flight /Train to your hometown. Tour Concludes.
    <br><br><br><br>
            <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">
            <img src="static/image/breakfast.jpg"  alt="Cinque Terre" height="45px">

        </div>
    </div>
    <div class="row">
        <div class ="col-sm-9">

        </div>
        <div class ="col-sm-2">

            breakfast
        </div>
    </div></div>
</div>
<hr>

<div class="container">
    Notes:<br>
    <ol type="1">
        <li>Children / Students are requested to carry 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.
            For Infants carry 2 passport size photographs.</li>
        <li>NRI guests are requested to carry their Passport & VISA copy.</li>
        <li>Kesari Meals service will start on Day 1 at Final arrival destination till the departure from the last destination as per the itinerary.</li>
        <li>In flight meals – Kesari do not provide meal service during Air travel or during transit halt.</li>
        <li>Non A/C Harbour Cruise at Cochin.</li>
        <li>Please carry a photo-id proof for Periyar boat-ride.</li>
        <li>The Tour Manager service will start from the First destination of the tour as mentioned in the itinerary.</li>

    </ol>
    <div class="row">
    <div class="col-sm-6" style="border:1px solid grey;background-color:#8E1F20;color:white;">
       Our Speciality: <br>
        <ul type="circul">
            <li>Caring tour manager through out the tour.</li>
            <li>Insurance Cost is included in the Tour Price.</li>
        </ul>
    </div>


    <div class="col-sm-6" style="border:1px solid grey;background-color:#004753;color:white;">
        Road Transport:
        <ul type="circul">
           <li>All transfers and sightseeing by A/C Coach.</li>
           <li>Non A/C small vehicle transfers at Eravikulam National Park.</li>
        </ul>
    </div>
    </div>


</div>


</div>

<!--- new item --->


<button type="button" class="btn btn-primary" onclick='openModal()'>
    Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                sdflksjl sdfjklkjddff sdfjlkffsdf
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>

            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

<!---- close item -->


{% include 'footer.html' %}
{% endblock %}



</body>
</html>