<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'navbar.html' %}
{% block content %}
<h2> Andman </h2>
<h6>55990</h6>
SZ - ANDAMAN
7 Days 6 Hotel Nights

Andaman: Port Blair 4N, Netaji Subhas Chandra Bose Dweep (Ross Island), Swaraj Dweep (Havelock) 2N, Jolly Buoy.

Visit: 3 Cities
1 Port Blair
Arrive at the designated reporting place. Report to the coach and proceed to hotel.

2Port Blair – Netaji Subhas Chandra Dweep (Ross Island) – Port Blair
Visit Chatham Saw Mill - one of the largest mills in Asia, Cottage Industries Emporium and Forest Museum that offers an insight into forest activities through scale models and displays decorative pieces made of famous woods like Padauk, Marble, Peauma, Gurjan, Satin Wood, etc. Later visit Netaji Subhas Chandra Bose Dweep (Ross Island) - the island presently houses ruins of old buildings like Ballroom, Chief Commissioner's house, Government House, Church, Cemetry, Hospital, Bakery, Press, Swimming Pool and Troop Barracks, all indilapidated condition, reminiscent of the old British regime.

Extra Topping : Coconut Water during city tour of Port Blair.

3Port Blair – Swaraj Dweep (Havelock)
Proceed to Swaraj Dweep (Havelock island) ferry. Visit Radhanagar Beach - rated as Asia's best beach in 2004 by the Times magazine. The island is known as one of the jewels of the Andaman archipelago.

Notes: For ferry from Port Blair to Swaraj Dweep (Havelock) & return for infant Original Birth certificate is mandatory at the time of check-in, if any guest fail to carry the same then they have to pay approx ticket charges of Rs. 2300 at the counter for return Journey.

4Swaraj Dweep (Havelock)
Visit Elephant Beach.Enjoy get-together with your travel companions in the evening.

Extra Topping : Coconut water at Elephant beach.

5Swaraj Dweep (Havelock) – Port Blair
Proceed to Port Blair by ferry. Later visit Anthropological Museum that depicts the life of Paloelithic Islanders, it also houses the models of the aborigines and their tools & Samudrika Naval Marine Museum - which is meant to create awareness on various aspects of oceanic environment, has a good collection of shells, corals and a few colourfull fishes.

Breakfast
Lunch
Dinner
6Port Blair – Jolly Buoy Island / Red Skin Island – Port Blair
Visit Jolly Buoy Island OR Red Skin Island. Explore the Coral formations by the glass bottom boat ride. You can enjoy various water sports activities on your own and swimming in the crystal clear blue water. Later visit Fisheries Museum. In the evening visit Cellular Museum and Cellular Jail, which stood mute witness to the torture meted out to the freedom fighters, who were incarcerated in this Jail. History awakens as we visit 'Veer Sawarkar' Smarak and see the light and sound show.

Extra Topping : Tea at Cellular Jail.

Notes: Jolly Buoy & Red Skin Island are open alternatively, we will be visiting either of them depending on Season.

Breakfast
Lunch
Dinner
7Departure from Port Blair
Board the flight for your Hometown. Tour Concludes.

<h1>andman2</h1>
<h6>36990</h6>
SZ - ANDAMAN
7 Days 6 Hotel Nights

Andaman: Port Blair 4N, Netaji Subhas Chandra Bose Dweep (Ross Island), Swaraj Dweep (Havelock) 2N, Jolly Buoy.

Visit: 3 Cities
1Port Blair
Arrive at the designated reporting place. Report to the coach and proceed to hotel.

Dinner
2Port Blair – Netaji Subhas Chandra Dweep (Ross Island) – Port Blair
Visit Chatham Saw Mill - one of the largest mills in Asia, Cottage Industries Emporium and Forest Museum that offers an insight into forest activities through scale models and displays decorative pieces made of famous woods like Padauk, Marble, Peauma, Gurjan, Satin Wood, etc. Later visit Netaji Subhas Chandra Bose Dweep (Ross Island) - the island presently houses ruins of old buildings like Ballroom, Chief Commissioner's house, Government House, Church, Cemetry, Hospital, Bakery, Press, Swimming Pool and Troop Barracks, all indilapidated condition, reminiscent of the old British regime.

Extra Topping : Coconut Water during city tour of Port Blair.

Breakfast
Lunch
Dinner
3Port Blair – Swaraj Dweep (Havelock)
Proceed to Swaraj Dweep (Havelock island) ferry. Visit Radhanagar Beach - rated as Asia's best beach in 2004 by the Times magazine. The island is known as one of the jewels of the Andaman archipelago.

Notes: For ferry from Port Blair to Swaraj Dweep (Havelock) & return for infant Original Birth certificate is mandatory at the time of check-in, if any guest fail to carry the same then they have to pay approx ticket charges of Rs. 2300 at the counter for return Journey.

Breakfast
Lunch
Dinner
4Swaraj Dweep (Havelock)
Visit Elephant Beach.Enjoy get-together with your travel companions in the evening.

Extra Topping : Coconut water at Elephant beach.

Breakfast
Lunch
Dinner
5Swaraj Dweep (Havelock) – Port Blair
Proceed to Port Blair by ferry. Later visit Anthropological Museum that depicts the life of Paloelithic Islanders, it also houses the models of the aborigines and their tools & Samudrika Naval Marine Museum - which is meant to create awareness on various aspects of oceanic environment, has a good collection of shells, corals and a few colourfull fishes.

Breakfast
Lunch
Dinner
6Port Blair – Jolly Buoy Island / Red Skin Island – Port Blair
Visit Jolly Buoy Island OR Red Skin Island. Explore the Coral formations by the glass bottom boat ride. You can enjoy various water sports activities on your own and swimming in the crystal clear blue water. Later visit Fisheries Museum. In the evening visit Cellular Museum and Cellular Jail, which stood mute witness to the torture meted out to the freedom fighters, who were incarcerated in this Jail. History awakens as we visit 'Veer Sawarkar' Smarak and see the light and sound show.

Extra Topping : Tea at Cellular Jail.

Notes: Jolly Buoy & Red Skin Island are open alternatively, we will be visiting either of them depending on Season.

Breakfast
Lunch
Dinner
7Departure from Port Blair
Board the flight for your Hometown. Tour Concludes.

Breakfast
Notes:
On tour Guests are requested to carry Original & 2 photo copy (xerox) of any Photo ID proof (Except Pan Card) i.e. Passport / Driving Licence / Voter's ID/ Aadhar Card along with them. Also submit a copy of the same at the time of booking.

NRI / Foreigner guest required Restricted Area Permit( RAP) for Andaman.
Children / Students are requested to carry Original & 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.

For Infants carry 2 passport size photographs.

The Tour Manager service will start from the First destination of the tour as mentioned in the itinerary, while Airport representative service will be available at Mumbai domestic airport as well as at your respective tour destination airport.

In- flight Meals: Kesari Meals service will start on Day 1 at Final arrival destination till the departure from the last destination as per the itinerary.
Kesari does not provide meal service during Air travel or during transit halt.

Swaraj Dweep Island : Pack a separate handbag for Swaraj Dweep also kindly carry pair of clothes and water slippers.
Special Notes:
Services like Tour Leader + extra toppings will be applicable only if the tour group size is 7 or more than 7 pax.
Kindly click on the link for State wise covid policy government guidelines and regulations:
https://www.goindigo.in/information/state-regulations.html?linkNav=state-regulations_Home-homepage~s...
Our Speciality:
Caring Tour Leader throughout the tour.
Insurance Cost is included in the Tour Price.
Road Transport:
All transfers and sightseeing by A/C Coach.
Non A/C Small Vehicles / Mini Coach in Swaraj Dweep (Havelock).
Reporting & Dropping for Joining & Leaving Guests:
Day 1: Port Blair airport at 1200 hrs.
Day 7: Port Blair airport at 0800 hrs

<h1>goa</h1>
<br>
My Fair Lady
L4 - GOA - MY FAIR LADY
4 Days 3 Hotel Nights

Goa: Goa 3N

Visit: 1 City
1Goa
Arrive in Goa. Report to coach and proceed to hotel.

Dinner
2North Goa
North Goa tour includes Panaji, the capital of Goa. Visit famous Mira Mar Beach, Baga Beach / Calangute Beach, and old fort - Fort Aguada overlooking the beach.

Extra Topping : Coconut water at Baga Beach / Calangute Beach.

Breakfast
Lunch
Dinner
3South Goa
Visit famous St. Francis church, Dona Paula, Mangeshi Temple, Shri Shanta Durga Temple dedicated to Goddess of peace. Later enjoy a boat cruise and admire the sunset views.

Notes: Dress Code for Mangeshi and Shanta Durga Temple: People are not allowed to wear shorts, sleeveless, picnic wear etc. kindly wear appropriate clothing while visit this temples. Dress, trouser or skirt should be below knee level.

Breakfast
Lunch
Dinner
4Departure from Goa
Board the flight / train for your hometown. Tour Concludes.

Breakfast
Notes:
On tour Guests are requested to carry Original & 2 photo copy (xerox) of any Photo ID proof (Except Pan Card) i.e. Passport / Driving Licence / Voter's ID / Aadhar Card along with them. Also submit a copy of the same at the time of booking.
Children / Students are requested to carry Original & 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.
For Infants carry 2 passport size photographs.
The Tour Manager service will start from the First destination of the tour as mentioned in the itinerary, while Airport representative service will be available at Mumbai domestic airport as well as at your respective tour destination airport.
Special Notes:
Services like Tour Leader + extra toppings will be applicable only if the tour group size is 7 or more than 7 pax.
Kindly click on the link for State wise covid policy, government guidelines and regulations:
https://www.goindigo.in/information/state-regulations.html?linkNav=state-regulations_Home-homepage~s...
Our Speciality:
Caring tour leader throughout the tour.
Insurance Cost is included in the Tour Price.
Road Transport:
All transfers and sightseeing by A/C Coach.
Reporting & Dropping for Joining & Leaving Guests:
DAY 1 : Madgaon Train Station by 1130 hrs
DAY 4 : Madgaon Train Sation by 1130 hrs

Please Note:
Although we pride ourselves in constantly maintaining our programme the above mentioned programme is subject to change without prior notice.
Considering current pandemic situation some sightseeing places might be closed temporarily without any prior intimation, in such situation we will try to visit an alternate sightseeing if possible.
Considering the current situation, we request all guest to follow mandatory travel requirements like RT PCR Tests, Vaccination certificates, Self Declaration, E Pass formalities etc as per the state /
country's COVID Rules & Regulations, which are subject to change from time to time. Any cost incurred for these requirements will be borne by guest.



<h1>gujrat1</h1>
<h6>55990</h6>
HE - ALL OF HIMACHAL
13 Days 12 Hotel Nights

Punjab : Amritsar 2N, Chandigarh 1N, Pinjore. Himachal Pradesh: Dalhousie 2N, Dharamshala 2N, Manali 3N, Shimla 2N, Kufri, Kullu, Rohtang Snow Point.

Visit: 0 City 0 Country
1Amritsar
Arrive at Amritsar Airport report to coach and proceed to hotel. Evening Visit Golden Temple – the holiest shrine of Sikh religion.

Extra Topping : Tea/Coffee at Golden Temple.

Dinner
2Amritsar
Morning visit Jallianwala Bagh - noted for the most infamous massacre under British Raj and visit Gobindgarh fort. Later proceed to visit Wagha Border (Subject to operation) to enjoy lowering the flag ceremony. Free time for shopping. Overnight in Amritsar.

Extra Topping : Tea/Coffee at Wagha border.

Breakfast
Lunch
Dinner
3Amritsar – Dalhousie
Today Proceed to Dalhousi. Arrive at dalhousi in the evening

Breakfast
Lunch
Dinner
4Dalhousie – Khajjiar – chamba - Dalhousie
Proceed to Chamba. See Ajit Singh Smarak. Visit Khaijar lake, Pass by Chaugan. Later visit Laxmi Narayan temple and Enjoy Chamera view point.

Extra Topping : Tea / Coffee / Soft Drink at Chamera view point.

Breakfast
Lunch
Dinner
5Dalhousie – Dharamshala
Proceed to Dharamshala enroute Visit Dharamshala Stadium (Subject to operation). Arrive Dharamshala in the evening.

Extra Topping : Lays, Tea / Coffee / Soft Drink en-route to Dharamshala.

Breakfast
Lunch
Dinner
6Dharamshala
Visit Jwalaji Temple at Jwalamukhi and later visit Aghanjar Mahadev Temple. Visit Bhagsunag Temple and Dalai Lama Monastery. Enjoy shopping at Macleodganj Bazaar.

Extra Topping : Tea/Coffee and Pastry during shopping at Macleodganj Bazaar. Frooti at Jwalaji Temple.

Breakfast
Lunch
Dinner
7Dharamshala – Manali
Proceed to Manali. Arrive in Manali in the evening.

Extra Topping : Tea / Coffee / Soft Drink en-route to Manali.

Breakfast
Lunch
Dinner
8Manali – Rohtang Snow Point – Manali
Enjoy spectacular drive towards Rohtang snow point via atal tunnel (subject to operation), at a length of 9.02 km, it is the longest tunnel above 10,000 feet. Free time to play and enjoy in the snow. Evening enjoy Himachali Folk dance (Subject to Operation).

Extra Topping : Coffee at Snow Point, Rohtang. Tea/Coffee at Mandi.

Notes: Rohtang pass is 51 kms. away from Manali. This Pass is not accessible for almost 8 months in a year as it is covered by snow. We generally visit the snow point on Rohtang road, which has been permitted by the Border Security Force.

Breakfast
Lunch
Dinner
9Manali – Solang – Manali
In the morning explore the ancient temples like Jagatsukh Gayatri Mandir, Vashista Kund, Hidimba Mandir . Then proceed to Solang Valley - A splendid valley between Solang village and Beas Kund which offers the view of glaciers and snow capped mountains and peaks which has fine ski slopes. Enjoy rope way ride.

Extra Topping : Tea/Coffee at Solang Valley .

Breakfast
Lunch
Dinner
10Manali – Shimla
Proceed to Shimla. En-route pass by Pandoh Dam, Beas river, Sutlaj river, Beas Sutlaj Link Project, Kullu Valley. Visit Shawl Factory at Kullu. Arrive in Shimla in the evening.

Extra Topping : Lays, Tea / Coffee / Soft Drink en-route from Manali to Shimla . Tea/Coffee at Kullu Shawl Factory

Breakfast
Lunch
Dinner
11Shimla – Kufri – Shimla
Visit Kufri Fun Campus (Guest can enjoy various rides & activities at their own cost). Later visit Kufri - Winter Sports Capital, Indira Bungalow and Himalayan Zoo (subject to operations). In the evening visit the famous Mall road, Scandal Point and Shimla Church.

Extra Topping : Tea/Coffee at Kufri. Pastry / Softy & Evening Tea/Coffee at National bakery on Mall Road.

Breakfast
Lunch
Dinner
12Shimla – Chandigarh
Later proceed to Chandigarh. Visit Sukhana Lake, Rose Garden, Rock Garden. En-route visit Pinjore Garden. Arrive in Chandigarh in the evening.

Breakfast
Lunch
Dinner
13Departure from Chandigarh.
Later Proceed to airport, board the Flight for your hometown. Tour Concludes.

Breakfast
Notes:
On tour Guests are requested to carry Original & 2 photo copy (xerox) of any Photo ID proof (Except Pan Card) i.e. Passport / Driving Licence / Voter's ID / Aadhar Card along with them. Also submit a copy of the same at the time of booking.
Children / Students are requested to carry 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.
For Infants carry 2 passport size photographs.
Dress Code for Golden Temple : People are not allowed to wear shorts, sleeveless, picnic wear etc. kindly wear appropriate clothing while visit this temples.
Carry thermal wear for Rohtang snow point.
Plastic bags are banned in Himachal Pradesh.
In-flight Meals : Kesari do not provide meal service during Air travel or during transit halt.
Kesari Meals service will start on Day 1 at Final arrival destination till the departure from the last destination as per the itinerary.
The Tour Manager service will start from the First destination of the tour as mentioned in the itinerary, while Airport representative service will be available at Mumbai domestic airport as well as at your respective tour destination airport.
Amritsar : Beating Retreat ceremony at Attari - Wagah border and jalianwala bagh is not open to tourists due to Covid till further notice.
Services like Extra toppings + Water bottle + Tour Leader + Local cultural entertainment will be applicable only if the tour group size is 7 or more than 7 pax.

Our Speciality:
Caring Tour Manager throughout the tour
Insurance Cost is included in the Tour Price.
Road Transport:
All transfers and sightseeing by A/C Coach.
Dalhousie local sightseeing by Non A/C Alto / Indica / Indigo / Swift D’sire . (4 pax in each vehicle)
Dharamshala local sightseeing by Non A/C Maruti Van / Indica / Indigo / Swift D’sire / Innova. (4 pax in each vehicle)
Jwalaji Temple and Amritsar SS by Local Vehicle - Auto
Shimla and Kufri sightseeing by Non A/C vehicle(Sumo / Alto / Maruti 800 / Indica / Swift / Xylo / Innova).
Manali local sightseeing including Rohtang by Non A/C Sumo / Tavera (7 pax in each vehicle).

<h1>gujarat2</h1>
<h6>26990</h6>
H7 - DALHOUSIE DHARAMSHALA AMRITSAR
7 Days 6 Hotel Nights

Himachal Pradesh: Dalhousie 2N, Khajjiar, Dharamshala 2N, Punjab : Amritsar 2N.

Visit: 0 City 0 Country
1Amritsar – Dalhousie
Arrive at the designated reporting place, report to coach and proceed to Dalhousie – a famous hill station named after its founder Lord Dalhousie, the British Governor-General in India. This little town is known for its pleasant climate and natural beauty surrounded by beautiful snow-capped mountains.

Extra Topping : Tea / Coffee / Soft Drink en-route to to Dalhousie

Dinner
2Dalhousie – Khajjiar – Chamba – Dalhousie
Proceed to Chamba town, en-route see sardar Ajit Singh Smarak – a freedom fighter and uncle of Shahid Bhagat Singh. Visit Khaijar known as Mini Switzerland due to the striking topographical resemblance of the place with Switzerland. Here one can enjoy various activities like horse riding, Paragliding, Zorbing etc. at an additional cost. On arrival visit Laxmi narayan temple – the main shrine of Chamba, Chamera point to get a view of Chamera lake and dam built on Ravi river. Pass by Chamba Chaugan. Evening at Dalhousie.

Extra Topping : Tea / Coffee / Soft Drink at Chamera View point.

Breakfast
Lunch
Dinner
3Dalhousie – Dharamshala
Morning travel to Dharamshala. On arrival visit Bhagsunag Temple, built in 18th century dedicated to lord Shiva and Dalai Lama Monastery also known as Namgyal Monastery is the personal monastery of 14th Dalai Lama. Later visit picturesque Dharamshala Stadium (Subject to operation) surround by snow capped mountains. Enjoy shopping at Macleodganj Bazaar.

Extra Topping : Lays, Tea / Coffee / Soft Drink en-route to Dharamshala.

Breakfast
Lunch
Dinner
4Dharamshala
Visit Jwalaji Temple - one of the most ancient tempel and also a shaktipeeth known for its continuous burning sacred flame. Later visit Aghanjar Mahadev Temple dedicated to Lord Shiva. Evening at Dharamshala.

Extra Topping : Tea/Coffee and Pastry during shopping at Macleodganj Bazaar. Frooti at Jwalaji Temple.

Breakfast
Lunch
Dinner
5Dharamshala – Amritsar
Proceed to Amritsar. On arrival visit Jallianwala Bagh - noted for the most infamous massacre under British Raj. Visit Gobindgarh fort – a historic military fort was built to protect the city from invaders, followed by a Light and Sound show (Subject to Operation).

Extra Topping : Tea / Coffee en-route to Amritsar and Tea/Coffee at Golden Temple

Breakfast
Lunch
Dinner
6Amritsar
Morning get immersed in the peaceful and seren atmosphere of the sacred Golden Temple - the holiest shrine of Sikh religion. Enjoy free time shopping. Laer we visit Attari Wagah Border to enjoy lowering the flag ceremony. Experience the authentic culture, colours and flavours of punjabi cuisine at Sadda Pind.

Extra Topping : Tea/Coffee at Wagha border.

Breakfast
Lunch
Dinner
7Amritsar
Board the flight for your hometown. Tour Concludes.

Breakfast
Notes:
On tour Guests are requested to carry Original & 2 photo copy (xerox) of any Photo ID proof (Except Pan Card) i.e. Passport / Driving Licence / Voter's ID / Aadhar Card along with them. Also submit a copy of the same at the time of booking.
Children / Students are requested to carry Original & 2 photo copy (xerox) of school or College Photo Identity card along with them. Also submit a copy of the same at the time of booking.
For Infants carry 2 passport size photographs.
Dress Code for Golden Temple : People are not allowed to wear shorts, sleeveless, picnic wear etc. kindly wear appropriate clothing while visit this temples.
Plastic bags are banned in Himachal Pradesh.
Services like Extra toppings + Water bottle + Tour Leader + Local cultural entertainment will be applicable only if the tour group size is 7 or more than 7 pax.
Kindly click on the link for State wise covid policy, government guidelines and regulations:
 https://www.goindigo.in/information/state-regulations.html?linkNav=state-regulations_Home-homepage~service-listing~1
Our Speciality:
Caring Tour Manager throughout the tour
Insurance Cost is included in the Tour Price.
Road Transport:
All transfers and sightseeing by A/C Coach.
Dalhousie local sightseeing by Non A/C Alto / Indica / Indigo / Swift D’sire . (4 pax in each vehicle)
Dharamshala local sightseeing by Non A/C Maruti Van / Indica / Indigo / Swift D’sire / Innova. (4 pax in each vehicle)
Jwalaji Temple and Amritsar SS by Local Vehicle - Auto
Reporting & Dropping for Joining & Leaving Guests:
Day -1: Amritsar Airport by 1300 hrs.
Day -7 : Amritsar airport at 1230 hrs.
{% if s_user %}
<button onclick="window.location.href='/booking'">Book this trip</button>
 {% else %}
<button onclick="window.location.href='/log'">want to book this trip</button>
{% endif %}

{% include 'footer.html' %}
{% endblock %}
</body>
</html>