<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'navbar.html' %}
{% block content %}
<br>
<div class="col-lg-5 mx-auto border rounded pt-4">
<h1 align="center">Create Account</h1>
    <br>
<table align="center">
<form method="post">
    {% csrf_token %}
    <tr><td> name = </td><td><input type = "text" name="fname"></td></tr>
    <tr><td>  address =</td><td> <textarea rows="3" name="add"></textarea></td></tr>
    <tr><td> phone =</td><td> <input type = "text" name="num"></td></tr>
    <tr><td> email =</td><td> <input type = "text" name="mail"></td></tr>
    <tr><td> aadharcard =</td><td> <input type = "text" name="adhar"></td></tr>
    <tr><td> username =</td><td> <input type = "text" name="user"></td><td>{{msg}}</td></tr>
    <tr><td> password =</td><td> <input type = "text" name="pass"></td></tr>
    <tr><td><input type = "submit"></td></tr>
</form>
</table>
</div>

{% include 'footer.html' %}
{% endblock %}
</body>
</html>