<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      {% load static %}
      <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
      <link rel ="stylesheet" href="{% static 'mystyle.css'%}">
      <script src="{% static 'jscript.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/a_home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


         {% if ad_user %}


        <li class="nav-item">
          <a class="nav-link " href="#">Welcome {{ad_user}}</a>
        </li>
      <div class="dropdown">
  <span> My Account </span>
  <div class="dropdown-content">
  <p><a href="/a_user">Profile data</a></p>
  <p><a href="/a_book">booking data</a></p>

  </div></div>

      <li class="nav-item">
        <a class="nav-link " href="u_logout">logout</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/a_feed">feedback data</a>
      </li>

      {% else %}

  {% endif %}
       


    </ul>

  </div>
</nav>



{% block content %}

{% endblock %}
</body>
</html>